body{
    background-color:black;
}

    .d-block {
      height: 500px;
      width: 300px;
    }


    .medalists {
      background-color:rgb(87, 161, 149);
      padding: 10px, 2px, 10px, 2px;
      margin-left: 0px;
      margin-right: 0px;
      
    }

.navigation {
    background-color: #000000;
    
}


    .card {
      padding-top: 10px;
      margin-left: 30px;
      margin-top: 30px;
      column-width: 40px;

    }
    
    .card-title{
        text-align:center;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .card-text{
        text-align:justify;
    }

  .banner{
  background-image: linear-gradient(orange,white,green);
  padding: 40px 4px 40px 4px;
  text-align:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
}

    /**  -------------Social media Links--------**/
    .socialmediaLinks ul {
        top: 90%;
        left: 50%;
        padding: 5px;
        margin: 0;
        display: flex;
    }

    .socialmediaLinks ul li {
      list-style: none;
      margin: 0 10px;
      
    }

    .socialmediaLinks ul li .fa {
      color: #000000;
      font-size: 25px;
      line-height: 50px;
      transition: .5s;
    }

    .socialmediaLinks ul li .fa:hover {
      color: #ffffff;

    }

    .socialmediaLinks ul li a {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      transition: 0.5s;
      transform: translate(0, 0px);
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
    }

    .socialmediaLinks ul li a:hover {
      transform: rotate(0deg) skew(0deg) translate(0, -10px);
    }

    .socialmediaLinks ul li:nth-child(1) a:hover {
      background-color: #3b5999;
    }

    .socialmediaLinks ul li:nth-child(2) a:hover {
      background-color: #55acee;
    }

    .socialmediaLinks ul li:nth-child(3) a:hover {
      background-color: #f81cc1;
    }

    .socialmediaLinks ul li:nth-child(1) a {
      background-color: orange;
    }

    .socialmediaLinks ul li:nth-child(2) a {
      background-color: white;
    }

    .socialmediaLinks ul li:nth-child(3) a {
      background-color: green;
    }

      /******************Timeline*****************************/
      .schedule *{
        box-sizing: border-box;
    }
    .schedule{
        background-color: black;
        color: white;
    }
    .timeline{
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    /*Center line*/
    .timeline::after{
        position: absolute;
        width: 5px;
        background-color: white;
        top: 0;
        bottom:0;
        left: 50%;
        margin-left: -3px;
    }
    .container{
        padding: 10px 40px;
        background-color: inherit;
        color: black;
        position: relative;
        width: 25%;
    }
    .content{
        padding: 10px 30px;
        background-color: white;
        position: relative;
        border-radius: 5px;
        text-align: center;
    }
    .left{
        left: 0;
    }
    .right{
        left: 50%;
    }
    .container::after{
        position: absolute;
        width: 20px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 5px solid gray;
        border-radius: 100%;
        top: 15px;
        z-index: 1;
    }
    .right::after{
        left: -17px;
    }
    .left::before{
        content: '';
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0px 10px 10px;
        border-color: transparent transparent transparent white;
        
    }
    .right::before{
        height: 0;
        position: absolute;
        top: 20px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0px;
        border-color: transparent white transparent transparent;   
    }



      /** -----------Footer    --------------------------- **/
      .footer {
        background-color:#333;
        overflow: hidden;
      }

      .footer-text {
        text-decoration: none;
        padding: 20px;
        text-align: center;
        float: left;
        color: white;
      }


    
     
